export MYSQL_DATABASE=uet_voting
export MYSQL_HOST=localhost
export MYSQL_ROOT_PASSWORD=root
export MYSQL_USER=uet
export MYSQL_PASSWORD=password
export MYSQL_PORT=3006
export MYSQL_FORWARD_PORT=3006
export LOG_CONSOLE_LEVEL=debug
export APP_MODE=development
export SENTRY_DNS=
export OAUTH_CLIENT_ID=
